:root{
    --azul-1: #2f4d6f;
    --azul-2: #004685;
    --azul-3: #004685;
    --azul-4: #004685;
    --verde-1: #5fb83b;
    --verde-2: #7cc21d;
    --gris-1: #757577;
}

header{
    margin-bottom: 96px;
}

@media (max-width: 992px){
    header{
        margin-bottom: 86px;
    }  
}


.navbar{
    background-color: #FFFFFF;
}

.menu-logotipo{
    width: 200px;
}

.nav-item{
    font-size: 1.3rem;
}

.nav-link{
    color: black;
}

.active{
    font-weight: bolder;
}

.body{
    background-color: white;
}

.carousel-item img{
    width: 100%;
    min-height: 350px;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 960px) {

    .banner, .banner img {
        height: 250px;
    }

    .carousel-item img{
        height: 300px;
    }

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    overflow: hidden;
}
  
.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
@media (max-width: 960px) {

    .banner, .banner img {
        height: 250px;
    }

}

.titulos{
    background-color: var(--azul-3);
}

.subtitulos{
    background-color: var(--verde-1);
    color: white;
    padding-left: 10px;
}

.contenedorAzul{
    background-color: var(--azul-3);
    color: white;
}

.contenedorVerde{
    background-color: var(--verde-1);
    color: white;
}

.fa-circle-check, .fa-chevron-right{
    color: var(--verde-1);
}

.showcase .showcase-text {
    padding: 3rem;
}

.empresa{
    margin-bottom: 3.5rem;
}

.servicios-text{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}
  
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}
  
@media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
}

footer{
    background-color: var(--azul-2);
    overflow-x: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.custom-shape-divider-top-1694706631 {
    background-color: var(--azul-2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1693409443 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1693409443 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 70px;
} 

@media (min-width: 770px){
    .custom-shape-divider-top-1693409443 svg {
        width: calc(143% + 1.3px);
        height: 139px;
    }   
}

.footer-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    width: 100%;
    max-width: 300px;
}

.titulopiedepagina {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
}

.ligapiedepagina {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}
