/* Header */
#header {
    background-color: white;
    position: fixed;
    top: 0;
    max-height: 120px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

#header h1 {
    color: #333333;
}

#header a {
    color: black;
}

@media (max-width: 1280px) {
    #header a{
        color: white;
    }  
}

.titulo {
    font-size: 3.5em;
    font-weight: bold;
    padding-bottom: 100px;
    color: #fff;
}

@media (max-width: 768px) {
    .titulo {
      font-size: 36px;
      text-align: center;
    }
  }

.contenido{
    padding-top: 90px;
}

/* Secciones  */
.section-subtitle {
    text-align: center;
    padding-top: 70px;
}
  
.section-subtitle h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: #2e3135;
}
  
.section-subtitle h2:before,
.section-subtitle h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    display: inline-block;
}
  
.section-subtitle h2:before {
    margin: 0 15px 10px 0;
}
  
.section-subtitle h2:after {
    margin: 0 0 10px 15px;
}
  
.section-subtitle p {
    margin: 0 auto 0 auto;
}
  
  @media (min-width: 1199px) {
    .section-subtitle p {
      max-width: 60%;
    }
}

.section-color {
    background-color: #f5f6f7;

}

.entre-otras{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 1.5rem;
}

/* Footer */
#footer {
    background-image: none;
    background-color: #333333;
}

.footer{
    color: white;
}

.footer-logo {
    width: 100%;
    max-height:  200px;
    max-width: 200px;
}

.footer-ubicacion, .footer-terminos {
    line-height: 25px;
}

#botonWhatsApp {
    position: fixed;
    z-index: 1000;
    bottom: 60px;
    right: 10px;
    width: 50px;
}

@media (max-width: 960px) {
    #botonWhatsApp {
        bottom: 60px;
        right: 12px;
        width: 44px;
    }
}

.logoRedesSociales{
    text-decoration: none;
    color: white;
    font-size: 26px;
    width: 32px;
    height: 32px;
}

.logoRedesSociales:hover {
    color: orange; 
}

/* hvr-grow */
.hvr-grow{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;transition-property:transform}.hvr-grow:active,.hvr-grow:focus,.hvr-grow:hover{-webkit-transform:scale(1.1);transform:scale(1.1)}
.hvr-grow-rotate{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;transition-property:transform}.hvr-grow-rotate:active,.hvr-grow-rotate:focus,.hvr-grow-rotate:hover{-webkit-transform:scale(1.1) rotate(4deg);transform:scale(1.1) rotate(4deg)}
.hvr-grow-shadow{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:box-shadow,transform;transition-property:box-shadow,transform}.hvr-grow-shadow:active,.hvr-grow-shadow:focus,.hvr-grow-shadow:hover{box-shadow:0 10px 10px -10px rgba(0,0,0,.5);-webkit-transform:scale(1.1);transform:scale(1.1)}