.centradoVertical{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #2DA736;
    font-size: 20px;
}

.barraCentral{
    background-color: rgb(169,200,19);
}

.registroVisitantes{
    background-color: #2DA736;
    margin: 10px auto;
}

.sectorBarraCentral{
    color: white;
}

.sectorBarraCentral p{
    margin-bottom: 0;
}

.sectorBarraCentral a{
    border-radius: 15px;
    margin-top: 20px;
}

.boton{
    background-color: #2B2B27;
    color: white;
    border-radius: 2px;
}

.boton:hover{
    background-color: black;
    color: white;
}

#footer{
    background-color: #2B2B27;
    color: white;
}

.hr-footer{
    background-color: #2DA736;
    border: 0;
    height: 5px;
    margin: 0;
    margin-bottom: 5px;
}

#footer p{
    margin: 0;
}

.botonFooter{
    border: none;
    background-color: #2B2B27;
    color: white;
    text-align: left;
}

.modal{
    color:black;
}

.telefono{
    text-decoration: none;
    color: white;
}

#iconos {
    display: flex;
    justify-content: flex-end;
}

#iconos > * {
    margin-right: 10px;
    margin-bottom: 20px;
}